.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #333;
  color: white;
}

.navbar button {
  background: crimson;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
  height: 40px;
  margin-top: 15px;
}